In [1]:
import pandas as pd
import numpy as np

In [2]:
## Load in dataset

In [3]:
PIT = pd.read_csv('/Users/biddieb/Desktop/pitStops2021added.csv')

In [4]:
PIT

,raceId,driverId,stop,lap,time,duration,milliseconds,constructorId,grid,position,fastestLapTime,fastestLapSpeed,engineType
0,1051,1,1,18,17:30:21,25.235,25235,131,1,1,01:25.1,227.633,NaN
1,1051,1,2,42,18:05:37,25.381,25381,131,1,1,01:25.1,227.633,NaN
2,1052,1,1,13,18:30:29,24.839,24839,131,2,1,01:34.0,207.235,NaN
3,1052,1,2,28,18:54:40,24.076,24076,131,2,1,01:34.0,207.235,NaN
4,1053,1,1,28,15:49:27,32.112,32112,131,1,2,01:16.7,230.403,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,1071,854,3,11,14:20:29,41.173,41173,210,18,18,01:13.8,210.215,NaN
794,1071,854,4,29,14:44:54,25.597,25597,210,18,18,01:13.8,210.215,NaN
795,1071,854,5,61,15:26:09,24.627,24627,210,18,18,01:13.8,210.215,NaN
796,1073,854,1,10,17:18:55,22.124,22124,210,19,14,01:29.5,212.522,NaN
797,1073,854,2,52,18:23:42,22.07,22070,210,19,14,01:29.5,212.522,NaN

In [5]:
## See all driverId values and frequencies

In [6]:
PIT.driverId.value_counts()

1      47
841    46
20     43
815    43
830    43
853    42
842    42
4      41
852    40
854    40
822    39
846    39
847    39
817    38
832    37
844    37
849    37
840    35
8      35
839    33
9       2
Name: driverId, dtype: int64

In [7]:
## Load in Dataset

In [8]:
RES = pd.read_csv('/Users/biddieb/Desktop/Formula 1 Final project/2021 data/results2021.csv')

In [9]:
## Made a new dictionary for driver constr (mapping) iloc(integer location)

In [10]:
driver_constr_dict = {RES.driverId.iloc[i]: RES.constructorId.iloc[i] for i in range(RES.shape[0])}

In [11]:
RES

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,25346,1051,1,131,44,1,1,1,1,25.0,57,24:28.5,5068471,50,2,01:25.1,227.633,1
1,25347,1051,830,9,33,7,2,2,2,19.0,57,25.743,5094214,57,1,01:23.2,232.799,1
2,25348,1051,4,214,14,3,3,3,3,15.0,57,59.457,5127928,48,10,01:26.7,223.437,1
3,25349,1051,815,9,11,11,4,4,4,12.0,57,+1:02.306,5130777,49,3,01:25.6,226.227,1
4,25350,1051,839,214,31,9,5,5,5,10.0,57,+1:20.570,5149041,46,13,01:27.1,222.464,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,25401,1073,849,3,6,16,\N,R,16,0.0,50,\N,\N,30,15,01:29.3,212.912,3
436,25402,1073,841,51,99,14,\N,R,17,0.0,33,\N,\N,33,16,01:29.4,212.557,6
437,25403,1073,847,3,63,17,\N,R,18,0.0,26,\N,\N,23,19,01:30.6,209.732,6
438,25404,1073,8,51,7,18,\N,R,19,0.0,25,\N,\N,23,18,01:29.7,211.951,23
439,25405,1073,853,210,9,20,\N,W,20,0.0,0,\N,\N,\N,0,\N,\N,139

In [12]:
driver_constr_dict

{1: 131,
 830: 9,
 4: 214,
 815: 9,
 839: 214,
 840: 117,
 832: 6,
 844: 6,
 846: 1,
 20: 117,
 842: 213,
 817: 1,
 852: 213,
 8: 51,
 841: 51,
 854: 210,
 847: 3,
 853: 210,
 849: 3,
 822: 131,
 9: 51}

In [13]:
## Check to see if value match

In [14]:
driver_constr_dict[815]

9

In [15]:
## Create new column and go in driverId and apply the dictionary

In [16]:
PIT['constructorId'] = PIT.driverId.apply(lambda x: driver_constr_dict[x])

In [17]:
PIT

,raceId,driverId,stop,lap,time,duration,milliseconds,constructorId,grid,position,fastestLapTime,fastestLapSpeed,engineType
0,1051,1,1,18,17:30:21,25.235,25235,131,1,1,01:25.1,227.633,NaN
1,1051,1,2,42,18:05:37,25.381,25381,131,1,1,01:25.1,227.633,NaN
2,1052,1,1,13,18:30:29,24.839,24839,131,2,1,01:34.0,207.235,NaN
3,1052,1,2,28,18:54:40,24.076,24076,131,2,1,01:34.0,207.235,NaN
4,1053,1,1,28,15:49:27,32.112,32112,131,1,2,01:16.7,230.403,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,1071,854,3,11,14:20:29,41.173,41173,210,18,18,01:13.8,210.215,NaN
794,1071,854,4,29,14:44:54,25.597,25597,210,18,18,01:13.8,210.215,NaN
795,1071,854,5,61,15:26:09,24.627,24627,210,18,18,01:13.8,210.215,NaN
796,1073,854,1,10,17:18:55,22.124,22124,210,19,14,01:29.5,212.522,NaN
797,1073,854,2,52,18:23:42,22.07,22070,210,19,14,01:29.5,212.522,NaN

In [18]:
## Create engineType from constructorId

In [19]:
constrId_dict = {9:0,131:1,6:2,1:1,213:0,214:3,117:1,3:1,51:2,210:2}

In [20]:
constrId_dict

{9: 0, 131: 1, 6: 2, 1: 1, 213: 0, 214: 3, 117: 1, 3: 1, 51: 2, 210: 2}

In [21]:
constrId_dict[213]

0

In [22]:
## Apply dictionary to constructorId to get engineTypePIT.

In [23]:
PIT['engineType'] = PIT.constructorId.apply(lambda x: constrId_dict[x])

In [24]:
PIT

,raceId,driverId,stop,lap,time,duration,milliseconds,constructorId,grid,position,fastestLapTime,fastestLapSpeed,engineType
0,1051,1,1,18,17:30:21,25.235,25235,131,1,1,01:25.1,227.633,1
1,1051,1,2,42,18:05:37,25.381,25381,131,1,1,01:25.1,227.633,1
2,1052,1,1,13,18:30:29,24.839,24839,131,2,1,01:34.0,207.235,1
3,1052,1,2,28,18:54:40,24.076,24076,131,2,1,01:34.0,207.235,1
4,1053,1,1,28,15:49:27,32.112,32112,131,1,2,01:16.7,230.403,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,1071,854,3,11,14:20:29,41.173,41173,210,18,18,01:13.8,210.215,2
794,1071,854,4,29,14:44:54,25.597,25597,210,18,18,01:13.8,210.215,2
795,1071,854,5,61,15:26:09,24.627,24627,210,18,18,01:13.8,210.215,2
796,1073,854,1,10,17:18:55,22.124,22124,210,19,14,01:29.5,212.522,2
797,1073,854,2,52,18:23:42,22.07,22070,210,19,14,01:29.5,212.522,2

In [25]:
RES

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,25346,1051,1,131,44,1,1,1,1,25.0,57,24:28.5,5068471,50,2,01:25.1,227.633,1
1,25347,1051,830,9,33,7,2,2,2,19.0,57,25.743,5094214,57,1,01:23.2,232.799,1
2,25348,1051,4,214,14,3,3,3,3,15.0,57,59.457,5127928,48,10,01:26.7,223.437,1
3,25349,1051,815,9,11,11,4,4,4,12.0,57,+1:02.306,5130777,49,3,01:25.6,226.227,1
4,25350,1051,839,214,31,9,5,5,5,10.0,57,+1:20.570,5149041,46,13,01:27.1,222.464,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,25401,1073,849,3,6,16,\N,R,16,0.0,50,\N,\N,30,15,01:29.3,212.912,3
436,25402,1073,841,51,99,14,\N,R,17,0.0,33,\N,\N,33,16,01:29.4,212.557,6
437,25403,1073,847,3,63,17,\N,R,18,0.0,26,\N,\N,23,19,01:30.6,209.732,6
438,25404,1073,8,51,7,18,\N,R,19,0.0,25,\N,\N,23,18,01:29.7,211.951,23
439,25405,1073,853,210,9,20,\N,W,20,0.0,0,\N,\N,\N,0,\N,\N,139